[submodule "themes/materialized"]
	path = themes/materialized
	url = https://github.com/theme-materialized/hexo-theme-materialized
[submodule "package/xray-script-generation"]
	path = package/xray-script-generation
	url = git@github.com:yywing/xray-script-generation.git
